html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: monospace;
  background: linear-gradient(
    135deg,
    rgba(0, 22, 255, 1) 0%,
    rgba(255, 2, 2, 1) 28%,
    rgba(245, 255, 0, 1) 78%
  );
  background-attachment: fixed;
}

.mainsection {
  color: #fde8e9;
  background-color: darkgray;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  background: rgb(224, 0, 0);
  &__group {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__burger {
    display: none;
  }
  &__link {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    border: solid 10px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    &:hover {
      color: rgb(204, 205, 200);
    }
  }
}

.section-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subsection {
  border: 10px solid;
  border-radius: 10px;
  background-color: rgb(204, 205, 200);
  border-color: black;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 325px;
  &__header {
    background-color: rgb(224, 0, 0);
    font-size: xx-large;
    text-align: center;
  }
  &__link {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    &:hover {
      color: rgb(204, 205, 200);
    }
  }
  &__image {
    width: 20%;
    float: right;
    margin-right: 5px;
  }
}

.subarticle {
  color: #333333;
  font-size: large;
  padding: 0px 10px;
  &__header {
    font-size: 20px;
  }
  &__paragraph {
    color: black;
  }
}

@media (max-width: 786px) {
  .mainsection {
    margin: 90px auto 0 auto;
  }

  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    &__group {
      display: none;
      &--show {
        display: inherit;
      }
    }
    &__link {
      display: block;
    }
    &__burger {
      display: flex;
      justify-content: flex-end;
    }
    &__button {
      background: rgb(224, 0, 0);
      cursor: pointer;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bolder;
      border: solid 10px;
      margin: 10px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      color: white;
      border-radius: 40px;
    }
    &__link {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bolder;
      border: solid 5px;
      margin: 5px;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      color: white;
      border-radius: 40px;
      &:hover {
        color: rgb(204, 205, 200);
      }
    }
  }
}

.header {
  color: rgb(224, 0, 0);
  font-size: x-large;
  &__title {
    display: inline-block;
  }
  &__picture {
    width: 30%;
  }
  &__image {
    width: 15%;
    float: right;
    margin: 5px 5px;
  }
}

.titlesection {
  border: 10px solid;
  border-radius: 10px;
  background-color: rgb(204, 205, 200);
  border-color: black;
  margin-bottom: 10px;
  &__header {
    background-color: rgb(224, 0, 0);
    font-size: xx-large;
    text-align: center;
  }
}

.titlearticle {
  color: #333333;
  font-size: large;
  padding: 0px 10px;
  &__header {
    font-size: 20px;
  }
  &__paragraph {
    color: black;
  }
}

.footer {
  color: #333333;
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
}
